.main-container{
    width: 100%;
    height: 100vh;
    max-height: max-content;
}

.blogdetail-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

.blog{
    width: 75%;
    /* height: 500px; */
    height: max-content;
    /* border: 1px solid black; */
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-author{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.blog-author p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    opacity: 0.7;
}

.blog-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

.blog-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    text-align: justify!important;
    font-size: 17px!important;
    line-height:38px!important;
    font-style: italic!important;
}

.blog-content code{
    position: relative;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.copy{
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 13px;
    font-style: normal;
}
.comments-container{
    width: 75%;
    height: max-content;
    /* border: 1px solid black; */
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
}

.comment-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.comment-user{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.comment-content{
    width: 100%;
    height: max-content;
    padding: 10px;
}

.comment-content li{
    opacity: 0.7;
    font-style: italic;
}

.add-comment{
    width: 100%;
    height: 60px;
    padding: 20px;
    padding-right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-button-comment{
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
}

.add-button-comment:hover{
    scale: 0.9;
}

.blur{
    opacity: 0.5;
}

.blur:hover{
    scale: 1;
}

.comment-add-container{
    position: absolute;
    width: 40%;
    padding: 40px;
    padding-top: 20px;
    padding-right: 30px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    z-index: 999;
    background-color: white;
    display: none;
}

.add-comment-heading{
    font-weight: 900;
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.comment-add-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.comment-add-container form input{
    width: 130px;
    height: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    font-style: italic;
    font-size: 13px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.4s;
}

.comment-add-container form input:hover{
    scale: 0.9;
}

.close{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: flex-end;
}

.close p{
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.notshow{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.remove{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.no-comment{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    opacity: 0.8;
    font-size: 20px;
}

@media screen and (max-width:900px) {
    .blog{
        width: 80%;
    }
    .comments-container{
        width: 80%;
    }
    input[type='submit']{
        width: 100px!important;
        font-size: 10px!important;
    }
}

@media screen and (max-width:830px) {
    .blog{
        width: 85%;
    }
    .comments-container{
        width: 85%;
    }
}

@media screen and (max-width:800px) {
    .comment-add-container{
        width: 50%;
    }
}

@media screen and (max-width:650px) {
    .blog{
        width: 90%;
    }
    .comments-container{
        width: 90%;
    }
    .comment-add-container{
        width: 60%;
    }
}

@media screen and (max-width:500px) {
    .blog-title{
       font-size: 32px;
    }
    .blog-content{
        font-size: 15px!important;
    }
    .blog-author p{
        font-size: 15px;
    }
    .comment-user p{
        font-size: 14px;
    }
    .comment-content{
        font-size: 14px;
    }
    .comment-add-container{
        width: 70%;
    }
}

@media screen and (max-width:450px) {
    .comment-user{
        flex-direction: column;
        gap: 10px;
        align-items: start;
        margin-bottom: 30px;
        padding-left: 10px;
    }
    .comment-user p{
        font-size: 13px;
    }
    .comment-content{
        font-size: 13px;
    }
}

@media screen and (max-width:420px) {
    .blog{
        width: 95%;
    }
    .comments-container{
        width: 95%;
    }
    .comment-add-container{
        width: 80%;
    }
    .add-comment-heading{
        font-size: 17px;
    }
}

@media screen and (max-width:380px) {
    .blog-author{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        align-items: start;
    }
    .blog-title{
        font-size: 30px;
     }
     .blog-content{
         font-size: 14px!important;
     }
     .blog{
        width: 100%;
    }
    .comments-container{
        width: 100%;
    }
}