.blogged-content{
    min-height: 250px;
    max-height: max-content;
    font-size: 15px;
}

.actual-form{
    min-width: 70%;
    max-width: max-content;
}

.blogged-title{
    height: 40px;
    font-size: 15px;
}

@media screen and (max-width:860px) {
    .actual-form{
        width: 90%!important;
        padding: 0px!important;
        padding-top: 40px!important;
    }
    
}

@media screen and (max-width:400px) {
    .actual-form input{
        font-size: 14px;
    }

}