.main-container{
    width: 100%;
    height: 100vh;
    max-height: max-content;
}

.herosection{
    width: 100%;
    height: 450px;
    max-height: max-content;
    display: flex;
    overflow: hidden;
}

.left-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 120px 0px 80px;
    background-image: url('../images/herosection.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.herosectionheading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

.herosectioncontent{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    opacity: 0.7;
    text-align: center;
}

.herosectionbutton{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
}

.herosectionbutton:hover{
    scale: 0.9;
}

.aboutus{
    width: 100%;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: max-content;
}

.innerabout{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.abouheading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
}

.aboucontent{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 40px;
    opacity: 0.8;
}

.howitworks{
    width: 100%;
    height: 850px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    max-height: max-content;
}

.innerwork{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.workheading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 40px;
}

.workcontainer{
    width: 90%;
    padding: 20px;
    height: max-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    background-color: rgba(230, 224, 221, 0.404);
}

.workcontainer i{
    font-size: 40px;
}

.workcontainer p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    opacity: 0.8;
}

/* .herosectionmaindiv{
    display: flex; flex-direction:column;gap:20px;width: 50%;height: 55%;justify-content: flex-end;margin-top:20px;align-items:center;
} */