.form-container{
    flex-direction: row-reverse;
    align-items: center;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
}

.profile-heading{
    width: 40%;
    /* border: 1px solid black; */
    /* height: max-content; */
    padding: 40px;
    padding-bottom: 80px;
    padding-left: 0px;
}

.form-heading{
    width: 100%;
    /* height: 50%; */
    margin: 40px;
    font-size: 80px;
}

.actual-form{
    width: 50%;
    /* border: 1px solid black; */
}

.field{
    width: 80%;
}

.form-fieldlabel{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 900;
}

.editprofile{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    opacity: 0.8;
}

@media screen and (max-width:900px) {
    .profile-heading p{
        font-size: 70px!important;
    }
}

@media screen and (max-width:800px) {
    .profile-heading{
        display: none;
    }
    .actual-form{
        width: 65%;
    }
}
@media screen and (max-width:600px) {
    .actual-form{
        width: 450px;
    }
}
@media screen and (max-width:400px) {
    .actual-form{
        width: 95%;
        margin: 0px!important;
        padding: 0px!important;
        padding-left: 20px!important;
        padding-top: 40px!important;
        margin-bottom: 40px!important;
    }
}

@media screen and (min-height:900px) {
    .actual-form{
        margin-top: 100px!important;
    }
}

@media screen and (min-height:1300px) and (min-width:1000px) {
    .form-container{
       padding-top: 150px!important;
    }
}