*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

.main-container{
    width: 100vw;
    height: 100vh;
    max-height: max-content;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    color: white;
    overflow-x: hidden;
}

.navbar a{
    color:black;
} 

.logo{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-style:italic;
}

.content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.content a p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16.5px;
    transition:color;
    transition-duration: 0.5s;
}

.content a p:hover{
    color: orange;
}

.buttons{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons div{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons div a{
    width: 100%;
    cursor: pointer;
}

.buttons div a button{
    width: 100%;
    height: 35px;
    border: 0.1px solid black;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    transition: all;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons div a button:hover{
    scale: 0.9;    
}

.buttons div .user{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.buttons div .user p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.dashcontainer{
    width: 120px!important;
    height: 100px!important;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position:absolute;
    top: 65px;
    background-color:currentColor;
    border-radius: 5px;
}

.dashcontainer a{
    height: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dashcontainer a:hover{
    background-color: grey;
    color: white;
}


.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.53);
    padding: 20px;
}

.icons{
    display: flex;
    gap: 25px;
}

.icons a{
    color: black;
}

.icons a i{
    font-size: 24px;
}

.footer p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.8;
}

.menubar{
    display: none!important;
}

@media screen and (max-width:1000px){
    .buttons div{
        width: 28%;
    }

    .buttons div a button{
        font-size: 13px;
    }
}

@media screen and (max-width:880px){
    .buttons div{
        width: 30%;
    }

    .buttons div a button{
        font-size: 12px;
    }

    .herosectionmaindiv{
        width: 60%!important;
    }

}

@media screen and (max-width:750px){
   .logo a p{
    font-size: 30px;
   }

   .content a p{
    font-size: 15.5px;
   }
   .buttons div{
    width: 35%;
    }
    .herosectionmaindiv{
        width: 65%!important;
    }
    .herosectionheading{
        font-size: 60px!important;
    }
    .herosectioncontent{
        font-size: 15px!important;
    }
    .herosectionbutton{
        width: 140px!important;
    }
}

@media screen and (max-width:690px) {
    .herosectionmaindiv{
        width: 70%!important;
    }
    .herosectionbutton{
        width: 130px!important;
        height: 35px!important;
        font-size: 14px!important;
    }
}

@media screen and (max-width:620px){
   .logo a p{
    font-size: 28px;
   }
   .left-content{
    padding: 0px!important;
}

   .content a p{
    font-size: 14.5px;
   }
   .buttons div{
    width: 38%;
}
}

@media screen and (max-width:570px){
    .buttons div a button{
        display: none;
    }
    .first{
        display: none!important;
    }
    .content{
        visibility: hidden;
    }
    .menubar{
        display: flex !important;
        color: black;
        font-size: 24px;
        margin-right: 15px;
    }
    .logo{
        width: 28%;
    }
    .herosectionmaindiv{
        width: 75%!important;
    }
    .herosectionheading{
        font-size: 55px!important;
    }
    .herosectioncontent{
        font-size: 14px!important;
    }
    .herosectionbutton{
        width: 130px!important;
        height: 35px!important;
        font-size: 14px!important;
    }
}
@media screen and (max-width:510px){
    .logo{
        width: 30%;
    }
    .herosectionheading{
        font-size: 50px!important;
    }
    .herosectioncontent{
        font-size: 13.5px!important;
    }
    .herosectionbutton{
        width: 100px!important;
        height: 35px!important;
        font-size: 13.5px!important;
    }
}
@media screen and (max-width:430px){
    .logo{
        width: 35%;
    }
    .content{
        width: 40%;
    }

}

@media screen and (max-width:380px){
    .logo{
        width: 40%;
    }
    .icons a i{
        font-size: 20px;
    }
    .footer p{
        font-size: 14px;
    }
    .content{
        width: 30%;
    }

}
