{% extends "base.html" %}
{% load static %}

{% block title %}PokiBlog-SignIn{% endblock title %}

{% block style %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/signup.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/login.css' %}">
{% endblock style %}

{% block content %}

<main class="main-container">
    <div class="form-container">
        <p class='form-heading'>
            Sign In
        </p>
        <form action="" method="post" class='actual-form'>
            {% csrf_token %}
            {{form.non_field_errors}}
            {% for field in form %}
                <div class="field-error">
                    {{field.errors}}
                </div>
                <div class="form-field">
                    {{field}}
                </div>
            {% endfor %}
            <input type="submit" value="Log In" class='field' style="padding:0px; border:1px solid black;border-radius:15px;margin-top:10px;font-weight:bold;">
            <div class="forgetpass" style='display:flex; justify-content:space-between'>
                <p class='have-account'>If you don't have account: <a href="{% url 'signup' %}"> Sign Up</a></p>
                <a href="{% url 'changepass' %}" class='changepass'>Forget Password</a>
            </div>
            <p class='have-account'>If you are Admin please click here for login: <a href="/admin/"> Admin</a></p>
        </form>
    </div>
    {% include "footer.html" %}
</main>

{% endblock content %}