<footer class="footer">
    <div class='icons'>
        <a href="https://www.linkedin.com/in/yash-saxena-1935bb226" target='blank' class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="mailto:yashsaxena210403@gmail.com" class="icon" target='blank'><i class="fa-regular fa-envelope"></i></a>
        <a href="https://github.com/YASHSAXEN" class="icon" target='blank'><i class="fa-brands fa-github"></i></a>
    </div>
    <div>
        <p>&copy; copywritted by Yash Saxena</p>
    </div>
</footer>